<div class="hero min-h-screen bg-gray-50">
  <div class="hero-content text-center px-5 py-12 border border-indigo-200">
    <div class="max-w-md">
      <h1 class="text-3xl font-bold">Sunkissingへようこそ！</h1>
      <p class="py-6 mb-5">Sunkissingは</br>日焼け止めの塗り直しを忘れないように</br>あなたのその日の予定に合わせてLINE通知をお届けします。</p>
      <h1 class="text-3xl font-bold mb-5">(使い方)</h1>
      <p class="text-2xl font-bold">その日の予定をスケジュール登録する</p>
      <div class="btn btn-wide bg-orange-400 hover:bg-orange-300 text-black border-0 mt-5 mb-4">
      <% if current_user.schedules.schedule_at_today.first %>
        <%= link_to '本日のスケジュール', schedule_path(current_user.schedules.schedule_at_today.first) %>
      <% else %>
        <%= link_to 'スケジュール作成', new_schedule_path %>
      <% end %>
      </div>
      <p class="text-4xl font-bold pb-2">↓</p>
      <p class="text-2xl font-bold mb-5">LINE通知が届くので</br>日焼け止めの塗り直しをする</p>
      <p class="mt-5">登録いただいたプロフィールに合わせて</br>・紫外線情報・ミニ天気予報を配信</br>・日焼け止めの商品紹介</br>を実装する予定です。</br>お待ちください🦒</p>
    </div>
  </div>
</div>
