<div class="hero min-h-screen bg-gray-50">
    <div class="hero-content text-center px-5 py-12 border border-indigo-600">
      <div class="max-w-md">
        <h1 class="text-3xl font-bold">Sunkissingへようこそ！</h1>
        <p class="pt-6">(操作説明)</p>
        <p class="pt-6">(初回ログイン時)</p>
        <p class="">1.下記ボタンからLINEで友達追加をしてください</p>
        <%= link_to '友達追加', 'https://line.me/R/ti/p/@508snqhw' %>
        <p class="">2.プロフィールの登録をしてください</p>
        <%= link_to 'プロフィール登録', edit_users_path %>
        <p class="pt-6">☀️初回ログイン以降はLINEのトーク画面で完結できます☀️</p>
        <p class="">1.今日の外出時間とスケジュールを登録してね</p>
        <p class="">2.スケジュールに合わせてLINEで通知がくるので日焼け止めを塗り直してください</p>
      </div>
    </div>
  </div>
</div>
