<div class="section bg-gray-50">
  <div class="hero">
    <div class="hero-content text-center px-5 py-12">
      <div class="max-w-md">
        <h1 class="text-4xl font-bold mb-5">日焼け対策、毎日</br>"しっかり"していますか？</h1>
        <p class="pt-6">日焼け対策に重要なのは日焼け止めの塗り直しです。</p>
        <p class="py-6">Sunkissingは</br>日焼け止めの塗り直しを忘れないように</br>あなたのその日の予定に合わせてLINE通知をお届けします。</p>
        <div class="link">
          <%= link_to '（LINE）ユーザー登録・ログイン', new_user_path, class: 'btn btn-wide bg-orange-400 hover:bg-orange-300 text-black border-0 mt-5 mb-4'%>
        </div>
        <div class="chat chat-start mt-5">
          <div class="chat-bubble chat-bubble-primary">
          <p class="font-bold">※通知を受け取るためには</br>LINEでのユーザー登録とは別に</br>LINEのお友達追加が必要です🦒</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero">
    <div class="hero-content text-center px-5 pb-5">
      <div class="max-w-md">
        <h1 class="text-4xl font-bold mb-5">(使い方)</h1>
        <p class="font-bold mb-5">※初めての方向け</p>
        <p class="text-2xl font-bold">LINEで通知が来る</br>チャンネルをお友達追加</p>
        <p class='font-bold pt-2'>⭐️お友達追加はこちらから⭐️</p>
        <div class="flex justify-center">
          <div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="@508snqhw" style="display: none;"></div>
          <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        </div>
        <p class="text-xs pb-2">※スマートフォンで開くと、自動でLINEの画面が開くので便利です！</p>
        <p class="text-4xl font-bold pb-2">↓</p>
        <p class="text-2xl font-bold">トーク画面に</br>初期設定の案内が来るので設定</p>
        <p class="text-xs pb-2">※LINEでのユーザー登録・プロフィール編集をしていただきます！</p>
        <p class="text-4xl font-bold pb-2">↓</p>
        <p class="text-2xl font-bold mb-5">その日のスケジュールを登録！</p>
        <p class="text-2xl font-bold mb-5 mt-5">右上の太陽アイコン☀️から</br>紫外線情報や日焼け止め検索を</br>お試しできます</p>
      </div>
    </div>
  </div>
  
  <div class="card_explain">
    <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
      <div class="grid w-full grid-cols-1 gap-12 mx-auto lg:grid-cols-2">
        <div class="p-6 border border-2 bg-gradient-to-r from-cyan-50 to-blue-100">
          <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mx-auto mb-5 text-blue-600 rounded-full bg-blue-50">
          </div>
          <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">日焼け止めは毎日塗るべき？</h1>
          <p class="mx-auto text-base leading-relaxed text-gray-500">→365日季節問わず毎日塗るべきです！</p>
          <%= render 'shared/modal' %>
        <div class="p-6 border bg-gradient-to-r from-orange-200 to-yellow-50">
          <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mx-auto mb-5 text-blue-600 rounded-full bg-blue-50">
          </div>
          <h1 class="mx-auto mb-8 text-2xl font-semibold leading-none tracking-tighter text-neutral-600 lg:text-3xl">塗り直しってそんなに大事なの？</h1>
          <p class="mx-auto text-base leading-relaxed text-gray-500">→塗り直しが非常に重要です！</p>
          <%= render 'shared/modal2' %>
        </div>
      </div>
    </div>
  </div>
  <div class="hero bg-gray-50">
    <div class="hero-content text-center px-5 py-12">
      <div class="max-w-md">
        <p class='font-bold pt-2'>⭐️お友達追加はこちらから⭐️</p>
        <div class="flex justify-center">
          <div class="line-it-button mt-1" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="@508snqhw" style="display: none;"></div>
          <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
        </div>
      </div>
    </div>
  </div>
</div>


