<% content_for(:title, 'クイックガイド') %>
  <div class='w-screen px-4 my-12 sm:max-w-4xl text-center'>
    <h1 class='text-3xl font-bold mb-4'>使い方</h1>
    <p>TESTTESTTESTTEST</p>
    <h2 class='text-2xl font-bold py-4'>できること</h2>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <p>nunununununununu</p>
    <h2 class='text-2xl font-bold py-4'></h2>
    <ul>
      <li>111111</li>
      <li>22222</li>
      <li>3333</li>
    </ul>
  </div>
