<% content_for(:title, 'プライバシーポリシー') %>
  <div class='px-4 my-12 sm:max-w-6xl text-center'>
    <h1 class='text-3xl font-bold mb-4 py-4'>プライバシーポリシー</h1>
    <p>このプライバシーポリシーは、TESTTESTTESTTEST（以下、「当方」といいます。）が、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、ユーザーの個人情報の取扱いについて定めるものです。</p>
    <h2 class='text-2xl font-bold py-4'>お客様から取得する情報</h2>
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <h2 class='text-2xl font-bold py-4'>お客様の情報を利用する目的</h2>
    <ul>
      <li>111111</li>
      <li>22222</li>
      <li>3333</li>
    </ul>
  </div>
