
      <div class="section bg-gray-50">
      
        <div class="hero">
          <div class="hero-content text-center px-5 py-12">
            <div class="max-w-md">
              <h1 class="text-4xl font-bold mb-5">日焼け対策、毎日</br>"しっかり"していますか？</h1>
              <p class="pt-6">朝家を出る前にしっかり塗った日焼け止め、</br>そのままにしていませんか？</p>
              <p class="pt-6">日焼け対策に重要なのは日焼け止めの塗り直しです。</p>
              <p class="py-6 mb-5">Sunkissingは、</br>日焼け止めの塗り直しを忘れないように、</br>あなたのその日の予定に合わせてLINE通知をお届けします。</p>
              <div class="link">
                <%= link_to '⭐️（LINE）ユーザー登録・ログイン⭐️', new_user_path, class: 'btn btn-ghost mb-5 border-slate-500 border-dotted'%>
              </div>
            </div>
          </div>
        </div>
      <div class="hero bg-gray-50">
        <div class="hero-content text-center px-5 py-12">
          <div class="max-w-md">
            <div class="link">
              <%= link_to '⭐️（LINE）ユーザー登録・ログイン⭐️', new_user_path, class: 'btn btn-ghost mb-5 border-slate-500 border-dotted' %>
            </div>
          </div>
        </div>
      </div>
