<footer class="footer mt-auto footer-center p-10 text-primary-content bg-gradient-to-r from-cyan-100 to-blue-300">
  <div>
    <p class="font-bold">Sunkissing</p> 
    <p>Copyright © 2023 - All right reserved by Mayuko Miyake</p>
  </div> 
</footer>
