<footer class="footer footer-center absolute bottom-0 p-10 bg-warning text-primary-content">
  <div>
    <p class="font-bold">Sunkissing</p> 
    <p>Copyright © 2023 - All right reserved by Mayuko Miyake</p>
  </div> 
</footer>
