<div class='text-right'>
  <label for="my-modal" class="btn btn-ghost border-slate-500 border-dotted">詳しく見る</label>
</div>
<input type="checkbox" id="my-modal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <div class="modal-action mt-0">
        <label for="my-modal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
          </svg>
        </label>
      </div>
      <ul class="space-y-4">
        <li class="flex items-center">
          <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="11" />
            <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
          </svg>
          <p class="ml-4 font-bold">室内でも紫外線は存在！</p>
        </li>
        <p class='ml-1'>お家にいる時も日焼け止めを塗っていますか？室内にいても、知らず知らず窓から紫外線を浴びているのです。特に、長時間のデスクワークや室内でのスポーツなどをする場合は、紫外線対策が必要とされています。</p>
        <li class="flex items-center">
          <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="11" />
            <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
          </svg>
          <p class="ml-4 font-bold">冬でも紫外線は存在！</p>
        </li>
        <p class='ml-1'>紫外線は季節や天気に左右されず、一年中存在します。雪や氷の反射により、紫外線の量が増加することもあります。肌へのダメージを防ぐためにも、季節問わず日焼け止めの使用が重要です。</p>
          <li class="flex items-center">
              <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="11" />
                <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
              </svg>
              <p class="ml-4 font-bold">紫外線のリスク！</p>
            </li>
            <p>紫外線は、日焼けだけでなく、肌の乾燥やシミ、しわ、皮膚がんなどのリスクを高めることが知られています。日焼け止めを使うことで、肌を紫外線から守り、健康的な肌を維持することができます。</p>
          </ul>
        </div>
      </div>
</div>
