<div class='text-right'>
<label for="my-modal-2" class="btn btn-ghost border-slate-500 border-dotted">詳しく見る</label>
    </div>
    <input type="checkbox" id="my-modal-2" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box">
        <div class="modal-action mt-0">
          <label for="my-modal-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
            </svg>
          </label>
        </div>
          <ul class="space-y-4">
            <li class="flex items-center">
              <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="11" />
                <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
              </svg>
              <p class="ml-4 font-bold">SPFとPAのお話</p>
            </li>
            <p class='ml-1'>SPFは、紫外線B波（UVB）から肌を守る効果を表す指標です。PAは、紫外線A波（UVA）から肌を守る効果を表す指標です。両方とも、数値が高いほど効果が高いことを示します。紫外線を防ぐ効果の高いものは、肌への負担がかかっていることもあるため、その日の予定や肌の状態に合わせて使い分けることが重要です。</p>
            <li class="flex items-center">
              <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="11" />
                <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
              </svg>
              <p class="ml-4 font-bold">汗や摩擦で落ちる</p>
            </li>
            <p class='ml-1'>日焼け止めは、時間が経つと汗や摩擦、水などによって効果が低下してしまいます。効果の高いものを朝だけ塗るのでは不十分なのです。</p>
            <li class="flex items-center">
              <svg class="h-6 w-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="11" />
                <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
              </svg>
              <p class="ml-4 font-bold">塗り直しがとても重要！！</p>
            </li>
            <p>肌の健康を保つためには、日焼け止めを塗り直すことがとても重要です。Sunkissingを使えば、その日の予定にあわせて塗り直しを通知してくれます。健康な肌を目指しましょう！</p>
          </ul>
        </div>
      </div>
</div>
