<div class="hero min-h-screen bg-gray-50">
  <div class='w-screen px-4 my-12 max-w-sm sm:max-w-lg mx-auto px-5 py-12 border border-indigo-200'>
    <h1 class="text-3xl font-bold text-center mb-4">紫外線情報</h1>
    <div class="card flex-shrink-0 w-full shadow bg-base-100 mx-auto">
      <div class="card-body text-center">
        <div>
          <p class="font-bold">都道府県</p>
          <p class="text-xs pb-2">※表示する地域はプロフィール編集から変更可能です</p>
          <div class="font-bold">
            <%= @prefecture.name %>
          </div>
        </div>
        <div>
          <p class="font-bold">表示する場所</p>
          <div class="font-bold">
            <%= @prefecture.capital_city %>
          </div>
        </div>
        <div>
          <p class="font-bold">本日の最高UVI指数</p>
          <div class="font-bold text-2xl">
            <%= @daily_uvi %>
          </div>
        </div>
        <%= @message %>
      </div>
    </div>
  </div>
</div>


