<% content_for(:title, '日焼け止め') %>
<div class="hero min-h-screen bg-gray-50">
  <h1 class="text-3xl font-bold text-center">日焼け止め</h1>
  <div class="w-screenmax-w-sm sm:max-w-lg px-5 py-12 border-2 border-indigo-200">
    <%= render 'sunscreens' %>
  </div>
</div>
