@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Simple Calendar */
  .day {
  }
  .wday-0 {
  }
  .wday-1 {
  }
  .wday-2 {
  }
  .wday-3 {
  }
  .wday-4 {
  }
  .wday-5 {
  }
  .wday-6 {
  }

  .today {
  }
  .past {
  }
  .future {
  }

  .start-date {
  }

  .prev-month {
    @apply bg-stone-300;
  }
  .next-month {
    @apply bg-stone-300;
  }
  .current-month {
    @apply font-bold;
  }

  .has-events {
    @apply cursor-pointer hover:bg-stone-100 active:bg-stone-200;
  }
}

  .purupuru {
  animation: purupuru 0.1s infinite;
  }
  @keyframes purupuru {
    0% {
        transform: translate(0px, 0px)
    }
    50% {
        transform: translate(0px, 1px) rotateZ(1deg)
    }
  }
